body {
  font-family: 'Hanken Grotesk', sans-serif;
}
.label {
  margin-left: -50px;
}

.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Left part of the component starts here */

.parent-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5%;
}
.result {
  text-align: center;
  width: 250px;
  height: 350px;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 22px;

  z-index: 2;
}
.result > h3 {
  color: hsl(241, 100%, 89%);
  margin-bottom: 40px;
}
.result > h2 {
  color: hsl(0, 0%, 100%);
  margin-bottom: -8px;
}
.result > p {
  width: 180px;
  align-self: center;
  font-size: 13px;
  color: hsl(241, 100%, 89%);
}
.result > .circle {
  padding: 20px;
  height: 100px;
  width: 100px;
  align-self: center;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-image-slice: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle > div {
  margin-bottom: 25px;
}
.circle > div > p:nth-child(2) {
  color: hsl(241, 100%, 89%);
}
.big {
  font-size: 50px;
  margin-bottom: -20px;
  color: hsl(0, 0%, 100%);
}
.summary {
  width: 250px;
  height: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 22px 22px 0px;
  box-shadow: 25px 57px 207px -35px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 25px 57px 207px -35px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 25px 57px 207px -35px rgba(0, 0, 0, 0.8);

  margin-left: -15px;
  z-index: 1;
  padding-left: 40px;
}

.rating-comp {
  margin: 6px 0px;
  display: flex;
  padding: 12px 15px;
  border-radius: 10px;
  justify-content: space-between;
}

.red {
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.1);
}
.yellow {
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.1);
}
.green {
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.1);
}
.blue {
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.1);
  margin-bottom: 30px;
}

button {
  align-self: center;
  padding: 10px 90px;
  border-radius: 22px;
  border-style: none;
  background-color: hsl(224, 30%, 27%);
  color: white;
  font-family: 'Hanken Grotesk', sans-serif;
  cursor: pointer;
}
button:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.space-left {
  margin-right: 15px;
}
.grey-num {
  color: hsla(224, 30%, 27%, 0.5);
}
.black-num {
  color: hsl(224, 30%, 27%);
}
@media (max-width: 600px) {
  .summary {
    margin-left: 0;
    padding-left: 20px;
    border-radius: 0px 0px 0px 0px;
    margin-top: -15px;
  }
  
}
